{% extends "base.html" %}

{% block body %}

   <table style='border:1px solid black;border-collapse: collapse'>
   <tr>
    <td>Winner</td>
    <td>Loser</td>
    <td>Datetime</td>
    <td>ip</td>
   </tr>
    {% for match in matches %}
      <tr>
          <td><a href='{{ match.left.url | parse_url }}'>{{ match.left.url | parse_url | truncate(40) }}</a> </td>
        <td><a href='{{ match.right.url | parse_url }}'>{{ match.right.url | parse_url | truncate(40) }}</a></td>
        <td>{{ match.datetime }}</td>
        <td>{{ match.ip }}</td>
      </tr>
    {% endfor %}
   </table>

{% endblock %}
